.table-container {
  max-height: 85vh; /* Establece una altura máxima para el contenedor de la tabla */
  overflow-y: auto; /* Desplazamiento vertical */
  overflow-x: auto; /* Desplazamiento horizontal */
  &&::-webkit-scrollbar {
    width: 10px; /* Ancho del scroll vertical */
  }
  &&::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de fondo del track */
  }
  &&::-webkit-scrollbar-thumb {
    background-color: #1a1a1a; /* Color del scroll thumb */
  }
}
table {
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  border-collapse: collapse;
}
.head-table-ver-productos {
  position: sticky;
  background-color: #9376e0;
  height: 58px;
  top: 0;
}
.head-table-container {
  display: flex;
  flex-direction: column;
}
.input-busqueda {
  padding: 10px;
  border-radius: 5px;
  border: #9276e0 solid thin;
  outline: none;
  font-size: 20px;
  color: #16191f;
}
input::placeholder {
  color: #16191f;
}
.input-search-pagina-productos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
th {
  color: white;
  font-weight: normal;
}
tr {
  height: 50px;
  border-bottom: #9276e0 thin solid;
  color: #16191f;
  && a {
    color: #16191f;
  }
  && .btn_delete,
  .btn_cancel {
    color: tomato;
  }
}

/*
tr:nth-child(even) {
  background-color: #9276e087;
  color: #fff;
  && a {
    color: #fff;
  }
  && .btn_delete{
    color: tomato;
  }
}
tr:nth-child(odd) {
  background-color: white;
  && a {
    color: #242424;
  }
  && .btn_delete{
    color: tomato;
  }
}
*/
.nombre-producto {
  text-decoration: none;
}
.input-nombre-producto {
  border: none;
  font-size: 20px;
  text-align: center;
  background-color: #fff;
  width: auto;
  transition: all 0.3s ease-in-out;
  &&:focus {
    outline: none;
  }
  &&:not(:disabled) {
    border-bottom: #9276e0 thin solid;
    padding-left: 5%;
  }
}
th,
td {
  text-align: center;
}
.input-costo,
.input-venta,
.input-cantidad {
  text-align: center;
  width: 150px;
  background-color: #fff;
  border: none;
  font-size: 20px;
  padding-left: 10%;
  outline: none;
  transition: all 0.3s ease-in-out;
  &&:not(:disabled) {
    border-bottom: #9276e0 thin solid;
    padding-left: 5%;
  }
}
.titulo-productos {
  font-size: 40px;
}
.imagen-columna {
  width: 100px;
  padding-left: 20px;
}
img {
  height: 50px;
  vertical-align: middle;
  object-fit: contain;
  color: #2d2727;
}

.btn_delete,
.btn_save,
.btn_edit,
.btn_cancel {
  text-decoration: none;
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 0 8px;
  &&:hover {
    opacity: 0.6;
  }
}
